BeautifulSoup
-e git+https://github.com/tymofij/clevercss.git#egg=CleverCSS
Django
South
-e hg+http://bitbucket.org/offline/django-annoying#egg=django_annoying
-e git+https://github.com/tymofij/django-css.git#egg=django_css
django-debug-toolbar
django-robots