<!doctype html>
<html>

{% load compress %}

	<head>
		<meta charset="utf-8"/>
		<title>{% block title %}My new shiny project{% endblock %}</title>
		
		<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/html-min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/styles.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/960.css" />
        
        {% compress css %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}css/styles.ccss" />
        {% endcompress %}
        
        <link rel="stylesheet" type="text/css" media="screen" href="/{{ MEDIA_URL }}/css/mobile.css" />
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        {% compress js %}
        <script src="{{ MEDIA_URL }}js/scripts.js"></script>
        {% endcompress %}
        
		{% block extra_head %}
        {% endblock %}
	</head>

	<body>
    
    <div class="container_12">
        <div class="grid_12">
            <div id="header">
                <h1>My new project</h1>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="container_12">
        <div class="grid_12">
    {% if messages %}
		<ul class="messages">
	        {% for message in messages %}
	            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	        {% endfor %}
	    </ul>
	{% endif %}
	    </div>
	    <div class="clear"></div>
	</div>
	
    <div class="container_12">
        <div class="grid_8">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="grid_4">
            <div id="sidebar">
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url auth_logout %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url auth_login %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="clear"></div>
	</div>
	
	<div class="container_12">
	    <div class="grid_12">
	        <div id="footer">
	            <p>Copyright 2011</p>
	        </div>
	    </div>
	</div>
	</body>
</html>
